<div class="p-d-flex p-flex-column" style="width:800px">
    <div class="p-mb-2 p-mr-2" class="p-d-flex p-jc-center">
        <h1>Qui sommes nous ?</h1>
    </div>
    <div class="p-mb-2 p-mr-2" class="p-d-flex p-jc-center">
        <img class="logo" src="../../../assets/images/itTraining.png" alt="Logo" style="height:200px">
        <div>
            <p> IT Training a été créé en 1996.</p>
            <p> Nous proposons un large choix de formations dans plusieurs domaines tel que
                l'informatique, le réseaux, le management, la finance, les ressources humaines, etc...</p>
        </div>
    </div>
    <div class="p-mb-2 p-mr-2" class="p-d-flex p-jc-center">
        <div>
            <h2>Notre vision</h2>
            <p> Chez IT Training, nous pensons que la formation ne doit pas être une contrainte et doit
                parfaitement s’adapter à votre situation professionnelle et personnelle.
                Ainsi, notre équipe travaille chaque jour afin de vous proposer un large choix et la meilleure
                expérience
                d'apprentissage.
            </p>
            <p> Nous proposons des formations certifiantes et éligibles CPF. Elles sont sélectionnées parmi les plus
                demandées dans le marché du travail et vous permettent de faire évoluer votre carrière. Nos experts vous
                accompagnent du début de votre formation jusqu’au passage de la certification pour vous
                permettre de vous former sereinement.
            </p>
        </div>
    </div>
    <div class="p-mb-2 p-mr-2" class="p-d-flex p-jc-center">
        <div>
            <h2>Nos agences partout en France</h2>
            <p> IT Training est présent sur toute la France à travers 35 agences.
                Vous trouverez certainement une agence proche de chez vous :)                
            </p>
        <div class="p-d-flex p-jc-center">
            <img class="logo" src="../../../assets/images/agencesFrance.png" alt="Logo" >
        </div>
    </div>
</div>