<form [formGroup]="formConnexion" (ngSubmit)="connexion()" *ngIf="isAuth()==false">
    <div class="p-d-flex p-jc-center p-p-4">
        <span class="header-form">Connexion</span>
     </div>
    <div *ngIf="erreurConnexion()">
        <label id="erreurCnx">Identifiant ou mot de passe invalide</label>
    </div>
    <div class="p-field p-grid">
        <label for="identifiant" class="p-col-fixed" style="width:100px">Identifiant :</label>
        <div class="p-col">
            <input id="identifiant" type="text" pInputText formControlName="identifiant"> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="mdp" class="p-col-fixed" style="width:100px">Mot de passe : </label>
        <div class="p-col">
            <input id="mdp" type="password" pInputText formControlName="mdp"> 
        </div>
    </div>
    <button pButton type="submit" label="Se connecter"></button>
</form>
