.footer-container {
    width: 100%;
    background-color: #1b9cd9;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
.footer-container-plan-site{
    display: flex;
    flex-direction: column;   
    width: fit-content;
}
.footer-container-lien {
    color: white;
    text-decoration: none;
}
.footer-container-lien:hover {
    text-decoration: underline;
    color:#f5a11d;
}