.footer-container {
    width: 100%;
    background-color: #1b9cd9;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-containerResponsable {
    width: 100%;
    background-color: #003e5a !important;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-plan-site{
    display: flex;
    flex-direction: column;   
    width: fit-content;
}
.titre-lien{
    font-weight: bold;
    text-decoration: underline;
}
.footer-lien {
    color: white;
    text-decoration: none;
}
.footer-lien:hover {
    text-decoration: underline;
    color:#f5a11d;
}
.footer-contact {
    display: flex;
    flex-direction: column;
}
.footer-contact-lien {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.pi {
    font-size: 1.2rem;
}
.pi:hover {
    cursor: pointer;
    color:#f5a11d !important;
}