<footer class="footer-container">
    <div class="footer-plan-site">
        <p class="titre-lien">Plan du site</p>
        <div>
            <a class="footer-lien" routerLink="/accueil">Accueil</a>
        </div>
    </div>
    <div>
        <p class="titre-lien">Informations</p>
        <div class="p-d-flex p-flex-column">
            <a class="footer-lien" routerLink="">Actualités</a>
            <a class="footer-lien" routerLink="">FAQ</a>
            <a class="footer-lien" routerLink="/apropos">Qui sommes nous ?</a>
        </div>
    </div>
    <div class="footer-contact">
        <p class="titre-lien">Contact</p>
        <div class="p-d-flex p-flex-column">
            <a class="footer-lien" routerLink="">Contactez-nous</a>
            <a class="footer-lien" routerLink="">Recrutement</a>
        </div>
    </div>
    <div class="footer-réseaux">
        <p class="titre-lien">Réseaux sociaux</p>
        <div  class="footer-contact-lien">
            <span class="pi pi-facebook"></span>
            <span class="pi pi-twitter"></span>
            <span class="pi pi-youtube"></span>
        </div>
    </div>
</footer>