::ng-deep .nav-bar{
    background-color: #1b9cd9 !important;
    color: #f5a11d !important;
    border: none;
    border-radius: 0px;
}

::ng-deep .p-menubar {
    flex-direction: column;
}
::ng-deep .p-menuitem {
    margin: 0 10vh;
}
::ng-deep .p-menuitem-text{
    color: white !important;
}

::ng-deep .menu-button {
    background-color: #1b9cd9 !important;  
}
::ng-deep .menu-button:hover{
    background-color: #f5a11d !important;
}

::ng-deep .p-menubar .p-submenu-list {
    padding: 0 !important;
}

::ng-deep .pi-angle-down, 
::ng-deep .pi-angle-right {
    color: white !important;
}

/*** Style Responsable ***/

::ng-deep .nav-barResponsable{
    background-color: #003e5a !important;
    color: #f5a11d !important;
    border: none;
    border-radius: 0px;
}

::ng-deep .nav-barResponsable .menu-button {
    background-color:  #003e5a !important;
}

::ng-deep .nav-barResponsable .menu-button:hover{
    background-color: #f5a11d !important;
}