.header-container {
    width: 100%;
    padding-top: 2px;
}
.titre{
    color:#f5a11d;
}
.logo {
    width: 30%;
}
.logo:hover {
    cursor: pointer;
}
.lien-authentification {
    text-decoration: none;
    color: #1b9cd9;  
    font-size: large;
}
.lien-authentification:hover {
    color: #f5a11d;
}