.header-container {
    width: 100%;
    padding: 10px;
}
.logo {
    width: 50%;
}
.logo:hover {
    cursor: pointer;
}
.lien-authentification {
    text-decoration: none;
    color: #1b9cd9;  
    font-size: large;
}
.lien-authentification:hover {
    color: #f5a11d;
}