<header class="header-container p-d-flex p-flex-row p-jc-around p-ai-center">
    <div>
        <a routerLink="/accueil"><img class="logo" src="../../../assets/images/itTraining.png" alt="Logo"></a>
    </div>
    <h1>It Training</h1>
    <div *ngIf="isAuth()==false">
        <a class="p-mr-2 lien-authentification" routerLink="/connexion" >Connexion</a>
        <a class="p-ml-2 lien-authentification" routerLink="">Inscription</a>
    </div>
    <div *ngIf="isAuth()">
        <div>
            <label>Bonjour {{utilisateur}} </label>
        </div>
        <div>
            <p-button class="p-mr-2 lien-authentification" (onClick)="deconnexion()">Déconnexion</p-button>
        </div>       
    </div>   
</header>