<h1>Formulaire de formation</h1>

<form [formGroup]="formFormation" (ngSubmit)="onSubmit()">
    <div class="p-field p-grid">
        <label for="titre">Titre</label>
        <div class="p-col">
            <input id="titre" type="text" pInputText required formControlName="titre" 
            placeholder="Renseignez un titre">
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="contenu">Contenu</label>
        <div class="p-col">
            <textarea id="contenu" rows="3" cols="50" pInputTextarea autoResize="autoResize"
                formControlName="contenu"></textarea>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="idTheme">Theme</label>
        <div class="p-col">

            <p-multiSelect id="idTheme" [options]="themes" [(ngModel)]="selectedThemes" defaultLabel="Sélectionnez un thème"
                optionLabel="nom" display="chip" required formControlName="idTheme"></p-multiSelect>
        </div>

    </div>

    <div class="p-field p-grid">
        <label for="selectedResponsable">Responsable</label>
        <div class="p-col">
            <p-dropdown id="responsable" [options]="responsables" [(ngModel)]="selectedResponsable" scrollHeight="400px"
                optionLabel="nom" [filter]="true" filterBy="nom,prenom" resetFilterOnHide="true"
                placeholder="Sélectionnez un responsable" required formControlName="idResponsable">

                <ng-template let-responsable pTemplate="responsables">
                    {{responsable.nom}} {{responsable.prenom}}
                </ng-template>
            </p-dropdown>

        </div>

    </div>
    <div class="p-field p-grid">
        <label for="logiciel">Logiciel</label>
        <div class="p-col">
            <input id="logiciel" type="text" pInputText formControlName="logiciel">
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="support">Support</label>
        <div class="p-col">
            <input id="support" type="text" pInputText formControlName="support">
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="numero">Numero</label>
        <div class="p-col">
            <input id="numero" type="number" pInputText formControlName="numero">
        </div>
    </div>
    <button pButton type="submit" label="Ajouter la formation" class="p-button-rounded" 
    [disabled]="formFormation.invalid"></button>
</form>