<p-card styleClass="p-pl-3 p-pr-3">
    <form class="form-container" [formGroup]="formFormation" (ngSubmit)="onSubmit()">
        <div class="p-d-flex p-jc-center p-pb-4">
            <span class="header-form">Créer une formation</span>
         </div>
        <div class="p-field p-grid">
            <label for="titre" class="p-col-fixed">Titre : <div class="obligatoire p-ml-1">*</div></label>
            <div class="p-col">
                <input id="titre" type="text" pInputText required formControlName="titre" 
                placeholder="Renseignez un titre">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="contenu" class="p-col-fixed">Contenu :</label>
            <div class="p-col">
                <textarea id="contenu" rows="3" pInputTextarea autoResize="autoResize" maxlength="250"
                formControlName="contenu" placeholder="Décrire la formation"></textarea>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="idTheme" class="p-col-fixed">Thème : <div class="obligatoire p-ml-1">*</div></label>
            <div class="p-col">
                <p-multiSelect inputId="idTheme" [options]="themes" [(ngModel)]="selectedThemes" 
                defaultLabel="Sélectionnez un thème" optionLabel="nom" display="chip" required 
                formControlName="idTheme"></p-multiSelect>
            </div>
        </div>
    
        <div class="p-field p-grid">
            <label for="selectedResponsable" class="p-col-fixed">Responsable : <div class="obligatoire p-ml-1">*</div></label>
            <div class="p-col">
                <p-dropdown inputId="selectedResponsable" [options]="responsables" 
                [(ngModel)]="selectedResponsable" scrollHeight="400px"
                    optionLabel="nom" [filter]="true" filterBy="nom,prenom" resetFilterOnHide="true"
                    placeholder="Sélectionnez un responsable" required formControlName="idResponsable">
                    <ng-template let-responsable pTemplate="responsables">
                        {{responsable.nom}} {{responsable.prenom}}
                    </ng-template>
                </p-dropdown>
    
            </div>
    
        </div>
        <div class="p-field p-grid">
            <label for="logiciel" class="p-col-fixed">Logiciel :</label>
            <div class="p-col">
                <input id="logiciel" type="text" pInputText formControlName="logiciel" 
                placeholder="Renseignez les logiciel">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="support" class="p-col-fixed">Support :</label>
            <div class="p-col">
                <input id="support" type="text" pInputText formControlName="support" 
                placeholder="Saisir les supports">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="numero" class="p-col-fixed">Numéro :</label>
            <div class="p-col">
                <input id="numero" type="number" pInputText formControlName="numero" 
                placeholder="Saisir le numéro de la formation">
            </div>
        </div>
        <div class="p-d-flex p-jc-center">
            <button pButton type="submit" label="Ajouter la formation" [disabled]="formFormation.invalid"></button>
        </div>
    </form>
</p-card>
