.formulaire-inscription-container{
    width: 100%;
}
.formulaire-inscription-carte{
    width: 50%;
    display: block;
    margin: auto auto;
    text-align: center;
    padding: 10px;
}

.mt-20{
    margin-top: 20px;
}