<form [formGroup]="formParticipant" (ngSubmit)="onSubmit()">
    <div class="participant-session-id">
        <div class="p-d-flex p-jc-center p-p-4">
            <span class="header-form">Ajout d'un participant</span>
         </div>
        <div class="p-field p-grid">
            <label for="nom" class="p-col-fixed">Nom </label>
            <div class="p-col">
                <input id="nom" type="text" pInputText formControlName="nom"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="prenom" class="p-col-fixed">Prenom </label>
            <div class="p-col">
                <input id="prenom" type="text" pInputText formControlName="prenom"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="civilite" class="p-col-fixed">Civilite</label>
            <div>
                <p-radioButton label="Homme" value="true" formControlName="civilite"></p-radioButton>
                <p-radioButton label="Femme" value="false" formControlName="civilite"></p-radioButton>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="dateNaissance" class="p-col-fixed">Date de naissance </label>
            <div class="p-col">
                <input id="dateNaissance" type="date" pInputText formControlName="dateNaissance"> 
            </div>
        </div>
        <div class="p-d-flex p-jc-center">
            <button pButton type="submit" label="Ajouter un participant"></button>
        </div>
    </div>
</form>