<div class="card">
    <div class="card1">
        <span>Numero: {{formation.numero}}</span>
        <span>Titre: {{formation.titre}}</span>
        <span>Contenu: {{formation.contenu}}</span>
        <span>Logiciel: {{formation.logiciel}}</span>
        <span>Support: {{formation.support}}</span>
    <div>
        <button claas="bouton-session" (click)="onAccesSession()" > Acceder aux sessions</button>
        <button  class= "buttdelete" (click) = "onDelete()">Supprimer</button>
    </div>
    </div>

</div>