<div class="p-ml-4 p-mb-4 p-mr-4 card-session">
    <p-card>
        <ng-template pTemplate="header">
            <div class="p-d-flex p-jc-between p-ai-center p-pt-3">
                <h3 class="card-header p-pl-4">Formation {{formation.numero}}</h3>
            </div>
        </ng-template>
        <div class="p-d-flex p-jc-between p-ai-center p-pt-3">
            <div>
                <span class="meta-donnee">Titre :</span> 
            </div>
            <div>
                <p>{{formation.titre}}</p> 
            </div>            
        </div>
        <div class="p-d-flex p-jc-between p-pt-3">
            <div>
                <span class="meta-donnee">Contenu:</span> 
            </div>
            <div>
                <p class="texte-justifier">{{formation.contenu}}</p> 
            </div>            
        </div>
        <div class="p-d-flex p-jc-between p-ai-center p-pt-3">
            <div>
                <span class="meta-donnee">Logiciel :</span> 
            </div>
            <div>
                <p>{{formation.logiciel}}</p> 
            </div>            
        </div>
        <div class="p-d-flex p-jc-between p-ai-center p-pt-3">
            <div>
                <span class="meta-donnee">Support :</span> 
            </div>
            <div>
                <p>{{formation.support}}</p> 
            </div>            
        </div>
        <ng-template pTemplate="footer">
            <button class="p-mr-4" pButton type="button"(click)="onAccesSession()" label="Accéder aux sessions"></button>
        </ng-template>
    </p-card>
</div>