<div class="p-ml-4 p-mb-4 p-mr-4 card-session">
    <p-card>
        <ng-template pTemplate="header">
            <div class="p-d-flex p-jc-between p-ai-center p-pt-3">
                <h3 class="card-header p-pl-4">Formation {{formation.numero}}</h3>
            </div>
        </ng-template>
        <p><span class="meta-donnee">Titre: </span> {{formation.titre}}</p> 
        <p><span class="meta-donnee">Contenu: </span>{{formation.contenu}}</p> 
        <p><span class="meta-donnee">Logiciel: </span>{{formation.logiciel}}</p> 
        <p><span class="meta-donnee">Support: </span>{{formation.support}}</p> 
        <ng-template pTemplate="footer">
            <button class="p-mr-4" pButton type="button"(click)="onAccesSession()" label="Acceder aux sessions"></button>
            <button pButton type="button" (click)="onDelete()" label="Supprimer"></button>
        </ng-template>
    </p-card>
</div>