.card-header {   
    color:#1b9cd9;
}
.meta-donnee {
    font-weight: bold;
}
.card-session {
    width: 50vh;
    text-align: center;
} 
::ng-deep .pi-angle-left {
    color: grey !important;
}
::ng-deep .pi-angle-left:hover {
    color: #1b9cd9 !important;
    cursor: pointer;
}
