.card-header {   
    color:#1b9cd9;
    padding-top: 10px;
    padding-left: 20px;
    width: fit-content;
}
.meta-donnee {
    font-weight: bold;
}
.card-session {
    width: 50vh;
    text-align: center;
}