<p-card styleClass="p-pl-3 p-pr-3">
    <form class="form-container" [formGroup]="formFormateur" (ngSubmit)="onSubmit()">
        <div class="p-d-flex p-jc-center p-pb-4">
            <span class="header-form">Ajouter un formateur</span>
         </div>
        <div class="p-field p-grid">
            <label for="nom" class="p-col-fixed"  >Nom : <div class="obligatoire p-ml-1">*</div></label>
            <div class="p-col">
                <input id="nom" type="text" pInputText formControlName="nom" required
                placeholder="Saisir un nom"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="prenom" class="p-col-fixed" >Prenom : <div class="obligatoire p-ml-1">*</div></label>
            <div class="p-col">
                <input id="prenom" type="text" pInputText formControlName="prenom" required
                placeholder="Saisir un prénom"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="mail" class="p-col-fixed" >Mail : <div class="obligatoire p-ml-1">*</div></label>
            <div class="p-col">
                <input id="mail" type="mail" pInputText formControlName="mail" required
                placeholder="Sasir un mail"> 
            </div>
        </div>
        <div class="p-d-flex p-jc-center">
            <button pButton type="submit" label="Ajouter ce formateur" [disabled]="formFormateur.invalid"></button>
        </div>
    </form>
</p-card>
