* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button {
    background-color: #1b9cd9 !important;
    border: #1b9cd9 2px solid !important;
}
button:hover {
    background-color: #f5a11d !important;
    border: #f5a11d 2px solid !important;
}
.p-dropdown, .p-multiselect, .p-inputtext, .p-inputtextarea {
    width: 100% !important;
}
label{
    width: 20vh;
}
.p-radiobutton-label {
    width: 10vh;
}
.header-form {
    font-size: 24px;
    font-weight: bold;
}