<p-button (click)="showBasicDialog2()" icon="pi pi-external-link"
	label="Valider votre inscription et passer votre test "></p-button>
<p-dialog header="Questions" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
	<div>
		<app-card-test *ngFor="let one of test" [testPrerequis]="one" (resultEvent)="updateResult($event)">
		</app-card-test>
	</div>

	<ng-template pTemplate="footer">
		<p-button icon="pi pi-check" (click)="validateTest()" label="Valider" class="p-button-text"></p-button>
		<p-button icon="pi pi-times" (click)="displayBasic2=false" label="Annuler"></p-button>
	</ng-template>
</p-dialog>